/* opmaak van de strong (word nu alleen gebruikt om de huidige pagina dikgedrukt te maken in het menu)*/
strong {
    font-size: 28px;
  }
  
  h3 {
    color: black;
  }
  
  p {
    color: white;
  }
  
  /* grootte van de sidebar*/
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 10px;
  }
  
  /*opmaak van de sidebar linkjes*/
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /*Verandert de kleur van de tekst als de muis er op staat*/
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /*maken van de sluitknop en de opmaak ervan*/
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* de style van de openknop*/
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #019EE2;
    color: white;
    padding: 10px 15px;
    border: none;
  }
   /* kleur van de menu knop verandert als de muis er overheen gaat*/
  .openbtn:hover {
    background-color: #444;
  }
  
  /* zorgt dat de pagina met de sidebar verschuift*/
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }