$colors: (
  fox: #ff6940,
  curve-dark: #2a407d,
  curve-normal: #6979a4,
  curve-light: #a9b2cb,
  black: #000000,
  background: #f3f3f3,
  background-components: #ffffff,
  card-title: #a9a9a9,
  button-color: #808080,
);

@function color($num) {
  @return map-get($colors, $num);
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: color(background);
  z-index: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // font: 300 1em/1.5 'Merriweather', serif; color: #242424;
  // padding: 0; margin: 0;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  .header_img {
    width: 9rem;
  }
}
.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 3;
}
.nav-icon-5 span {
  background-color: #fff;
  position: absolute;
  border-radius: 0.2rem;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 0.25rem;
  transition-duration: 500ms;
}
.nav-icon-5 span:nth-child(1) {
  top: 0;
  left: 0;
}
.nav-icon-5 span:nth-child(2) {
  top: 0.8rem;
  left: 0;
  opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
  bottom: 0;
  left: 0;
}
.nav-icon-5:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0.8rem;
}
.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 0.8rem;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

:root {
  --grey-color: #7f8c8d;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

$menu-link-active-colors: var(--primary-color), var(--info-color),
  var(--success-color), var(--warning-color), var(--danger-color);

.menu-hover-fill {
  li {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -1rem;
      width: 0.25rem;
      height: 100%;
      background: var(--menu-link-active-color);
      transition: 0.6s;
    }

    a {
      --menu-link-color: var(--grey-color);
      position: relative;
      background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0
        no-repeat;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: background-size 0.45s 0.04s;

      &::before {
        position: absolute;
        content: attr(data-text);
        z-index: -1;
        color: var(--menu-link-color);
      }
    }

    @for $i from 1 through length($menu-link-active-colors) {
      &:nth-child(#{$i}) {
        --menu-link-active-color: #{nth($menu-link-active-colors, $i)};
      }
    }

    &:hover {
      &::before {
        left: calc(100% + 1rem);
      }

      a {
        background-size: 100%;
      }
    }
  }
}

//curves
svg.topcurves {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.curves,
.curves2,
.curves3 {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  top: 0;
  left: 0;
}

.curves {
  z-index: -2;
  stroke: none;
  fill: color(curve-normal);
}
.curves2 {
  z-index: -1;
  stroke: none;
  fill: color(curve-dark);
}
.curves3 {
  z-index: -3;
  stroke: none;
  fill: color(curve-light);
}

h2 {
  color: color(black);
  letter-spacing: 0.3rem;
}

//Cards
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  .cards_item {
    display: flex;
    padding: 1rem;
    width: 17rem;
    height: 25rem;
  }
  .card {
    background-color: color(background-components);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .card_image {
        filter: contrast(100%);
      }
    }
  }
  .card_content {
    display: flex;
    flex: 1 1 auto;
    height: 3rem;
    flex-direction: column;
    padding: 1rem;
  }
  .card_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
  }
  .card_title {
    color: color(card-title);
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .card_text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    height: 5rem;
    margin-bottom: 1.25rem;
  }
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .btn {
    background-color: color(background-components);
    border: 1px solid;
    color: color(button-color);
    padding: 0.5rem;
    text-transform: lowercase;
  }
  .btn-block {
    display: block;
    width: 100%;
    cursor: pointer;
  }
}
