html {
  font-size: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  z-index: 1rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header nav .header_img {
  width: 9rem;
}

.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 3;
}

.nav-icon-5 span {
  background-color: #fff;
  position: absolute;
  border-radius: 0.2rem;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 0.25rem;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.nav-icon-5 span:nth-child(1) {
  top: 0;
  left: 0;
}

.nav-icon-5 span:nth-child(2) {
  top: 0.8rem;
  left: 0;
  opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.nav-icon-5:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(2) {
  -webkit-transform: rotate(3deg) scaleY(1.1);
          transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(3) {
  -webkit-transform: rotate(-4deg) scaleY(1.1);
          transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-5.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.8rem;
}

.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.8rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

:root {
  --grey-color: #7f8c8d;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menu-hover-fill li {
  position: relative;
}

.menu-hover-fill li::before {
  position: absolute;
  content: "";
  top: 0;
  left: -1rem;
  width: 0.25rem;
  height: 100%;
  background: var(--menu-link-active-color);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu-hover-fill li a {
  --menu-link-color: var(--grey-color);
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--menu-link-active-color))) left/0 no-repeat;
  background: linear-gradient(var(--menu-link-active-color) 0 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: background-size 0.45s 0.04s;
  transition: background-size 0.45s 0.04s;
}

.menu-hover-fill li a::before {
  position: absolute;
  content: attr(data-text);
  z-index: -1;
  color: var(--menu-link-color);
}

.menu-hover-fill li:nth-child(1) {
  --menu-link-active-color: var(--primary-color);
}

.menu-hover-fill li:nth-child(2) {
  --menu-link-active-color: var(--info-color);
}

.menu-hover-fill li:nth-child(3) {
  --menu-link-active-color: var(--success-color);
}

.menu-hover-fill li:nth-child(4) {
  --menu-link-active-color: var(--warning-color);
}

.menu-hover-fill li:nth-child(5) {
  --menu-link-active-color: var(--danger-color);
}

.menu-hover-fill li:hover::before {
  left: calc(100% + 1rem);
}

.menu-hover-fill li:hover a {
  background-size: 100%;
}

svg.topcurves {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.curves,
.curves2,
.curves3 {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  top: 0;
  left: 0;
}

.curves {
  z-index: -2;
  stroke: none;
  fill: #6979a4;
}

.curves2 {
  z-index: -1;
  stroke: none;
  fill: #2a407d;
}

.curves3 {
  z-index: -3;
  stroke: none;
  fill: #a9b2cb;
}

h2 {
  color: #000000;
  letter-spacing: 0.3rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards .cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 17rem;
  height: 25rem;
}

.cards .card {
  background-color: #ffffff;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.cards .card:hover .card_image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.cards .card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.cards .card_image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.cards .card_image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.cards .card_title {
  color: #a9a9a9;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cards .card_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 5rem;
  margin-bottom: 1.25rem;
}

.cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards .btn {
  background-color: #ffffff;
  border: 1px solid;
  color: #808080;
  padding: 0.5rem;
  text-transform: lowercase;
}

.cards .btn-block {
  display: block;
  width: 100%;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */